.wrapper {
    background-color: var(--color-surface);

    header {
        margin: auto;
        width: 100%;
        max-width: var(--spacing-app-max);
        padding: var(--spacing-03) var(--spacing-edge);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .siteName {
        display: flex;
        flex-direction: column;

        p {
            transform: translate(1px, -4px);
            font-size: var(--font-size-01);
        }
    }

    h1 {
        display: inline-block;
        font-size: var(--font-size-04);
        font-weight: 700;
        text-align: left;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .menuToggle {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin-right: 12px;
    }

    li {
        list-style: none;
        display: flex;
        transition: all 0.3s ease-in-out;
    }

    li a:hover,
    li a:focus {
        color: var(--color-text);
        font-weight: 500;
    }

    li a {
        position: relative;
        overflow: visible;
        display: inline-block;
        color: var(--color-text-muted);
        padding: 8px 16px;

    }
}

@media (max-width: 768px) {
    .wrapper {
        header {
            padding: var(--spacing-02) var(--spacing-edge);
            background-color: var(--color-surface);
        }

        nav {
            display: none;
        }

        .menuToggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            cursor: pointer;
            width: 24px;
            aspect-ratio: 1/1;
            z-index: 2;

            span {
                width: 100%;
                height: 4px;
                background-color: var(--color-text);
                border-radius: 50px;
            }
        }
    }
}