@import './fonts.css';
@import './palette.css';
@import './spacing.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: "Work Sans", sans-serif;
    font-size: var(--font-size);
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: var(--color-background);
    width: 100%;
    max-width: var(--spacing-app-max);
    margin: auto;
    padding: var(--spacing-06) var(--spacing-edge-desktop);
}

a {
    text-decoration: none;
}