.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface-dark);

    p {
        color: var(--color-text-light);
    }

    h4 {
        color: var(--color-text-light);
        font-weight: 300;
    }

    footer {
        width: 100%;
        height: 100%;
        max-width: var(--spacing-app-max);
        padding: 0 var(--spacing-edge-desktop);


        .top {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-gap);
            border-bottom: 1px solid var(--color-background);
            padding: var(--spacing-07) 0;

            .faqs {
                flex: 1;

                p {
                    font-weight: 200;
                }

                .accordion {
                    margin-top: var(--spacing-05);

                    details {
                        background: transparent;
                        border-radius: 4px;
                        margin-bottom: var(--spacing-02);
                        border: none;
                        overflow: hidden;
                        transition: background 0.2s;
                    }

                    summary {
                        cursor: pointer;
                        padding: var(--spacing-02);
                        font-weight: 200;
                        opacity: .9;
                        color: var(--color-text-light);
                        outline: none;
                        user-select: none;
                        background: transparent;
                        border-radius: 4px;
                    }

                    summary:hover,
                    summary:focus {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    p {
                        padding: var(--spacing-02);
                        color: var(--color-text-light);
                        margin: 0;
                        font-weight: 200;
                        opacity: .6;
                        background: transparent;
                    }
                }
            }

            .siteMap {
                min-width: 300px;

                h4 {
                    margin-left: var(--spacing-02);
                }
            }

            .info {
                min-width: 300px;
                padding-right: var(--spacing-02);
                flex: 0;

                .title {
                    font-size: var(--font-size-04);
                    font-weight: 700;
                    text-align: right;
                }

                .tagline {
                    transform: translate(1px, -4px);
                    font-size: var(--font-size-01);
                    text-align: right;
                }

                p {
                    font-weight: 200;
                    opacity: .9;
                    text-align: right;

                    em {
                        color: var(--color-text-light);
                        opacity: .7;
                    }

                    strong {
                        display: inline-block;
                        width: 100%;
                        margin-top: var(--spacing-05);
                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                        padding-top: var(--spacing-05);
                        color: var(--color-text-light);
                        font-weight: 600;
                    }
                }
            }

            .siteMapLinks {
                padding: 0;
                display: flex;
                flex-direction: column;
                margin-top: var(--spacing-05);

                .link {
                    color: white;
                    font-weight: 200;
                    opacity: .9;
                    padding: var(--spacing-02);
                    border-radius: 4px;
                }

                .link:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .bottom {
            padding: var(--spacing-06) var(--spacing-02);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                font-weight: 100;
            }

            .external {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-03);

                img {
                    height: 20px;
                    cursor: pointer;
                    opacity: .75;
                }

                img:hover {
                    opacity: 1;
                }
            }
        }
    }
}