.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-03);
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-surface-medium);
    padding-top: var(--spacing-03);
    width: 100%;
    overflow: hidden;
        position: sticky;
        top: 80px;
        z-index: 1;


    .titleWrapper {
        padding-right: var(--spacing-inline);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: relative;

        img {
            margin-right: var(--spacing-01);
            transform: translateY(-5px);
            padding-left: 8px;

        }

        h2 {
            font-weight: 600;
            letter-spacing: .5px;
            font-style: italic;
            font-size: 16px;
            display: inline;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 671px) {
    .wrapper {
        position: sticky;
        top: 80px;
        width: 100%;
        transform: translateX(calc(var(--spacing-edge) * -1));
        margin-inline: var(--spacing-edge);
    }
}