.wrapper {
    padding: var(--spacing-06) 0 var(--spacing-07);
    border-bottom: 1px solid var(--color-muted);

    h2 {
        font-weight: 700;
        font-size: var(--font-size-04);
        margin: var(--spacing-01) 0;
    }

    p {
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    img {
        height: 20px;
        object-fit: contain;
        margin-right: var(--spacing-03);

    }

    .middleRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--spacing-06);

        button {
            padding: 12px;
            margin-top: 4px;
            min-width: 280px;
            background-color: var(--color-accent);
            color: #fff;
            border-radius: 80px;
            border: none;
            font-weight: 500;
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background-color: var(--color-accent-dark);
            }
        }
    }

    .bottomRow {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .accentColor {
        color: var(--color-accent);
    }
}