.wrapper {
	padding: var(--spacing-06) 0;
}

.embedContainer {
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: var(--spacing-04);
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
}

.embedContainer::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, Opera */
}

.embedItem {
	flex: 0 0 100%;
	scroll-snap-align: start;
}

.paginationDots {
	display: flex;
	justify-content: center;
	margin-top: 12px;
	gap: 8px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--color-surface-medium);
	transition: background-color 0.3s;
	cursor: pointer;
}

.activeDot {
	background-color: var(--color-surface-dark);
}

.creator {
	display: block;
	flex-direction: column;
	align-items: right;
	justify-content: right;
	width: fit-content;
	margin-left: auto;
	margin-top: 8px;
	padding-right: 8px;
	border-right: 2px solid var(--color-muted);

	p {
		text-align: right;
		display: flex;
		flex-direction: column;
		gap: 0px;

		strong {
			font-weight: 600;
			font-size: 14px;
		}

		em {
			font-style: italic;
			color: var(--color-text-muted);
			font-size: 12px;
		}
	}
}