.wrapper {
	position: relative;
	height: 560px;
	width: 100%;
	overflow: hidden;
}

.slider {
	display: flex;
	height: 100%;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

	/* hide scrollbar */
	scrollbar-width: none;
}

.slider::-webkit-scrollbar {
	display: none;
}

.container {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	overflow: hidden;
	background-color: var(--color-surface-medium);
}

.container:last-child {
	margin-right: 0;
}

.imgWrapper {
	position: relative;
	min-width: 100%;
	height: 100%;
}

.imgBackground {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
	transform: scale(1.25);
	filter: blur(10px);
}

.imgFocus {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: contain;
	z-index: 2;
}

.titleWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleWrapper p {
	color: var(--color-background);
	font-weight: 500;
	font-size: var(--font-size-05);
}

.dots {
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 8px;
	z-index: 5;
	padding: 8px;
	border-radius: 50px;
	backdrop-filter: blur(10px) saturate(150%);
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.dot {
	width: 10px;
	height: 10px;
	background-color: var(--color-surface-medium);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
}

.dot:hover {
	background-color: color-mix(in srgb, var(--color-surface-medium) 90%, black 10%);
}

.dot.active {
	background-color: var(--color-surface-dark);
}