.wrapper {
    height: 60px;
    padding: 8px 12px;
    border-radius: 8px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-gap);
    flex: 0;

    h5 {
        font-size: var(--font-size);
        font-weight: 500;
        margin-bottom: 4px;
    }

    h6 {
        font-size: var(--font-size-01);
        font-weight: 300;
        color: var(--text-muted);
    }
}

.wrapper:hover,
.wrapper:active {
    background-color: var(--color-surface);
    cursor: pointer;
}

.reserved:hover,
.reserved:active {
    cursor: default;
}

.imgWrapper {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.imageFallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

    span {
        color: var(--color-background);
    }
}



@media (max-width: 671px) {
    .wrapper {
        width: 100%;
        justify-content: left;
    }
}