.wrapper {
    margin-top: var(--spacing-08);

    iframe {
        width: 100%;
        height: 60vh;
        max-height: 600px;
        border: none;
        scroll-snap-align: start;
        flex: 0 0 auto;
        margin-right: 1rem;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
    }
}