.wrapper {
  background-color: var(--color-accent-dark);

  .innerWrapper {
    margin: auto;
    max-width: var(--spacing-page-max);
    padding: 6px var(--spacing-edge-desktop);
    text-align: center;
    color: white;
  }
}