.wrapper {
    width: 320px;
    max-width: 400px;
    
    .imgWrapper {
        height: 200px;
        border-radius: 8px;
        background-color: var(--color-muted);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        min-height: 100%;
        min-width: 100%;
    }

    h4 {
        margin-top: var(--spacing-01);
        font-weight: 600;
    }

    p {
        font-size: var(--font-size-01);
    }

    .topRow {
        margin-top: var(--spacing-01);
        font-weight: 400;
    }

    .bottomRow {
        color: var(--color-text-muted);
        font-weight: 400;
    }
}

.wrapper:hover,
.wrapper:focus {
    
    .imgWrapper {
        border: 1px solid var(--color-muted);
    }
}