.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.slider::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  min-height: 0;
  gap: var(--spacing-gap);
  margin-right: var(--spacing-gap);
  margin-bottom: var(--spacing-gap);
}
.page:last-child {
  margin-right: 0;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 5;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-surface-medium);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover {
background-color: color-mix(in srgb, var(--color-surface-medium) 90%, black 10%);
}

.dot.active {
  background-color: var(--color-surface-dark);
}
