.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(240px, 1fr));
  min-height: 0;
  gap: var(--spacing-gap);
  margin-right: var(--spacing-gap);
  margin-bottom: var(--spacing-gap);
}

.page:last-child {
  margin-right: 0;
}

.pagePill {
  z-index: 10;
  left: 20px;

  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ccc;

  border: 1px solid #ccc;
  background-color: var(--color-surface-dark);
  border-radius: 999px;
  padding: 6px 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transition: opacity 0.5s ease-in-out,;
}

.pagePill span {
  display: inline-block;
  min-width: 12px;
  text-align: center;
  color: #ccc;
}

.pillVisible {
  opacity: 0.9;
}

.pillHidden {
  opacity: 0;
  pointer-events: none;
}

.pillFixed {
  position: fixed;
  bottom: 24px;
}

.pillAbsolute {
  position: absolute;
  bottom: 24px;
  left: calc(20px - var(--spacing-edge));
}
