.wrapper {

  .floatingSearchTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    background: var(--color-surface);
    border-radius: 50%;
    border: 1px solid #ddd;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 18px;
    position: fixed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 199;
  }

  .floatingSearchTrigger img {
    width: 20px;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px;
    background-color: var(--color-surface);
    border-bottom: 1px solid #ccc;
  }

  .header input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    border: none;
    border: 1px solid #ccc;
  }

  .header input:focus {
    outline: none;
  }

  .backIcon,
  .clearIcon {
    width: 20px;
    cursor: pointer;
  }

  .results {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
  }

  h2 {
    margin: 16px 0 6px;
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
  }

  .results p {
    padding: 10px;
    background: #fafafa;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    cursor: pointer;
  }

  .results p:hover {
    background: #eee;
  }

  .noResults,
  .placeholder {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
    text-align: center;
  }
}