.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-03);
    padding: var(--spacing-02) 0;
    margin-bottom: var(--spacing-02);
    background-color: var(--color-background);

    .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        /* flex-wrap: wrap; */
        gap: var(--spacing-inline);
        row-gap: 0;

    }

    h2 {
        font-weight: 400;
        font-size: var(--font-size-05);
        display: inline;
    }

    p {
        font-weight: 400;
        font-size: var(--font-size-01);
        display: inline;
        margin-top: auto;
        margin-bottom: 10px;
    }

    img {
        height: var(--font-size-05);
        object-fit: contain;
    }
}

@media (max-width: 671px) {
    .wrapper {
        padding: var(--spacing-03) var(--spacing-edge);
        border-bottom: 1px solid var(--color-surface-medium);
        align-items: end;
        width: 100vw;
        transform: translateX(calc(var(--spacing-edge) * -1));
        margin-bottom: var(--spacing-04);

        .title {
            gap: var(--spacing-02);
            flex: 1;
        }

        h2 {
            font-weight: 500;
            font-size: 28px;
            display: inline;
            letter-spacing: 0.5px;
        }

        p {
            font-weight: 400;
            font-size: var(--font-size-01);
            display: inline;
            margin-bottom: 4px;
        }

        img {
            height: 28px;
            object-fit: contain;
        }
    }
}