.wrapper {
    padding: var(--spacing-07) 0;
    border-bottom: 1px solid var(--color-muted);
    text-align: justify;

    p {
        white-space: pre-line;
    }

    .chipsWrapper {
        margin-top: var(--spacing-06);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .chip,
        .hyphen{
            color: var(--color-text-muted);
            font-style: italic;
        }
    }
}

@media (max-width: 671px) {
    .wrapper {
        padding: var(--spacing-05) 0;
        border-bottom: none;
        text-align: left;
    }
}