name: Build, Publish and Deploy Production Image

on:
  workflow_call:
    inputs:
      CONTAINER_NAME:
        required: true
        type: string
      PATH_TO_DOCKER_COMPOSE_FOLDER:
        required: true
        type: string
    secrets:  
      DO_HOST:  
        required: true  
      DO_USER:  
        required: true  
      DO_SSH_KEY:  
        required: true  

jobs:
  deploy:
    name: Deploy to VM
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd ${{ inputs.PATH_TO_DOCKER_COMPOSE_FOLDER }}
            docker compose pull ${{ inputs.CONTAINER_NAME }}
            docker compose up -d --remove-orphans ${{ inputs.CONTAINER_NAME }}
            docker image prune -af || true
