name: Production Pipeline

on:
  push:
    branches:
      - main

jobs:
  version_bump:
    uses: ./.github/workflows/version-bump.yaml
    permissions:
      contents: write

  publish:
    needs: version_bump
    uses: ./.github/workflows/publish.yaml
    permissions:
      packages: write
      contents: read
    with:
      TAG: ${{ needs.version_bump.outputs.TAG }}
      CONTAINER_NAME: ${{ vars.CONTAINER_NAME }}
      REGISTRY: ${{ vars.REGISTRY }}
      ORG: ${{ vars.ORG }}
    secrets:
      PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}

  deploy:
    needs: publish
    uses: ./.github/workflows/deploy.yaml
    permissions:
      packages: write
      contents: read
    with:
      CONTAINER_NAME: ${{ vars.CONTAINER_NAME }}
      PATH_TO_DOCKER_COMPOSE_FOLDER: ${{ vars.PATH_TO_DOCKER_COMPOSE_FOLDER }}
    secrets:
      DO_HOST: ${{ secrets.DO_HOST }}
      DO_USER: ${{ secrets.DO_USER }}
      DO_SSH_KEY: ${{ secrets.DO_SSH_KEY }}
