name: Publish Production Image to GHCR

on:
  workflow_call:
    inputs:
      TAG:
        required: true
        type: string
      CONTAINER_NAME:
        required: true
        type: string
      REGISTRY:
        required: true
        type: string
      ORG:
        required: true
        type: string
    secrets:
      PAYLOAD_SECRET:
        required: true

permissions:
  packages: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          TAG_NAME=${{ inputs.TAG }}
          echo "Building Docker image for tag: $TAG_NAME"
          docker build \
            --build-arg PAYLOAD_SECRET=${{ secrets.PAYLOAD_SECRET }} \
            -t ${{ inputs.REGISTRY }}/${{ inputs.ORG }}/${{ inputs.CONTAINER_NAME }}:$TAG_NAME .

      - name: Push Versioned Image
        run: |
          TAG_NAME=${{ inputs.TAG }}
          docker push ${{ inputs.REGISTRY }}/${{ inputs.ORG }}/${{ inputs.CONTAINER_NAME }}:$TAG_NAME

      - name: Push Latest Image
        run: |
          TAG_NAME=${{ inputs.TAG }}
          docker tag \
            ${{ inputs.REGISTRY }}/${{ inputs.ORG }}/${{ inputs.CONTAINER_NAME }}:$TAG_NAME \
            ${{ inputs.REGISTRY }}/${{ inputs.ORG }}/${{ inputs.CONTAINER_NAME }}:latest
          docker push ${{ inputs.REGISTRY }}/${{ inputs.ORG }}/${{ inputs.CONTAINER_NAME }}:latest
          